@media only print {
  :root {
    --sectionYpadding: 4.2vh;
    --rightSectionPadding: 2vw;
    /* --smallSectionHeight: 8vh; */
    --smallSectionHeight: 10vh;
    --font: "Open sans", sans-serif;
    --topSectionBackground: white;
    --leftDivBg: rgba(222, 245, 250, 0.7);
    --h1Color: rgb(18, 35, 83);
    --h2Color: rgb(170, 212, 221);
    --h2Color: rgb(18, 35, 83);
    --linksColor: #5a9bcc;
    /* --skillsBackground: #333134; */
    --skillsBackground: rgb(35 39 47);
    --skillsColor: rgb(35 39 47);
    --borderColor: rgb(255, 255, 255);
    --borderWidth: 1.1vw;
    --mainFont: 1.4vw;
    --backgroundColor: white;
    --differentBackground: white;
  }

  body,
  html {
    background: var(--backgroundColor);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
    font-family: var(--font);
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  p,
  input {
    font-family: "Open-sans", sans-serif;
    font-size: var(--mainFont);
    line-height: 1.3vh;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.671);
    margin: 0.5vw 0vw;
  }

  a {
    color: var(--linksColor);
    opacity: 1;
    -webkit-text-stroke: 0px black;
    text-decoration: none;
  }
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  section {
    padding: 0.65vh 2vh;
    border-left: 2vh solid #5a9bcc;
  }

  .print {
    display: none;
  }

  h1 {
    position: relative;
    top: 0vh;
    color: rgb(18, 35, 83);
  }

  .developer {
    font-size: 1.5vh;
    color: #5a9bcc;
  }

  .circular--portrait {
    position: absolute;
    margin-right: auto;
    align-self: center;
    top: 3vh;
    right: 3vh;
    height: 11vw;
    width: 11vw;
    outline: 1.4vh solid #5a9bcc0c;
    /* top: 2vw;
    left: 3vw;
    height: 12vw; 
    width: 12vw; */
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    z-index: 51;
  }

  .circular--portrait img {
    width: 100%;
    height: auto;
  }

  .words {
    padding-top: 1.5vh;
    display: inline-block !important;
    flex: 1 1 100%;
  }

  .words div {
    border-radius: 0.3vw;
    padding: 0vw 0.8vw;
    height: 2.2vw;
    margin: 0 0.05vw;
    color: var(--skillsColor);
    font-weight: 900;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    display: none !important;
  }

  h2 {
    top: 0;
    margin-bottom: 1vh;
    left: 2.5vw;
    font-size: 1.7vw;
    font-family:
      Trebuchet MS,
      sans-serif;
    font-weight: 900;
    color: var(--h2Color);
    z-index: 1;
  }

  .top {
    padding-top: 3vh;
    background-color: var(--topSectionBackground);
    height: 11.5vh;
  }

  .licni {
    /* height: 10vh; */
  }

  .iskustvo {
    width: 100%;
  }

  .jobs {
    padding-top: 0vh;
    margin: 0;
    width: 100%;
  }

  .job {
    width: 100%;
    margin-bottom: 1vh;
  }

  .job-header {
    display: flex;
    min-width: 100%;
  }

  .period {
    margin-left: auto;
    display: inline-flex;
    justify-content: flex-end;
  }

  .skills {
    font-weight: 900;
  }
  .ostale {
    border-radius: 0px 0px 0px 1.7vh;
  }

  a {
    color: var(--linksColor);
    opacity: 1;
    -webkit-text-stroke: 0px black;
    text-decoration: none;
  }
  * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
