@media only print {
  :root {
    --backgroundColor: #d8f1ee;
    --backgroundColor: #d8eef1;
    --backgroundColor: rgba(245, 245, 245, 0.432);
    --backgroundColor: #9ec9eb;
    --borderColor: #95d3e5;
    --borderColor: rgb(98, 78, 107);
    --borderColor: rgb(255, 255, 255);
    --borderWidth: 1.1vw;
    --mainFont: 1.4vw;
    --linksColor: #47869b;
    --linksColor: rgb(142, 89, 167);
    --linksColor: #5a9bcc;
    --skillsBackground: #47869b;
    --skillsBackground: #f5f0f8;
    --skillsBackground: white;
    --h2Color: rgb(98, 78, 107);
    --h2Color: rgb(0, 0, 0, 0.671);
  }

  body,
  html {
    background: var(--backgroundColor);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  p,
  h1,
  h2,
  h3,
  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
  p,
  input {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: var(--mainFont);
    line-height: 2vh;
    font-weight: 600;
    color: #bddfe6;
    color: rgba(0, 0, 0, 0.671);
  }
  .licni > p > input {
    background: transparent;
    border: none;
    font-weight: 600;
    display: inline-block;
    width: 17em;
    cursor: text;
  }
  .all-wrapper {
    padding: 0;
  }
  .all > div {
    padding-right: 3vw;
  }
  .print {
    display: none;
  }
  .reactLogo {
    position: absolute;
    top: 5.5vw;
    right: 25vw;
    overflow: visible;
    z-index: 101;
    opacity: 0.3;
    width: 15vw;
    height: auto;
    transition: 2s;
  }
  .me {
    position: absolute;
    display: flex;
    margin-right: auto;
    align-self: center;
    top: 15%;
    right: 10%;
    height: 70%;
    border-radius: 2vw;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    z-index: 51;
  }
  .me:hover {
    position: absolute;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 0px;
  }
  .leftDiv {
    display: none;
  }
  .words {
    display: inline-block !important;
    flex: 1 1 100%;
  }
  .words span {
    background: var(--skillsBackground);
    border-radius: 0.5vw;
    padding: 0.5vw 0.8vw;
    margin: 0 0.15vw;
    color: black;
  }
  .icons {
    display: none !important;
  }
  h2 {
    position: absolute;
    top: 0;
    left: 2.8vw;
    font-size: 90%;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 900;
    color: var(--h2Color);
  }
  .licni h2 {
    margin-top: 2.5%;
  }
  .iskustvo h2 {
    margin-top: 4.8%;
  }
  .skills h2 {
    margin-top: 5.5%;
  }
  .obrazovanje h2 {
    margin-top: 4.8%;
  }
  .kursevi h2 {
    margin-top: 4.8%;
  }
  .jez h2 {
    margin-top: 4.8%;
  }
  .ostale h2 {
    margin-top: 4.8%;
  }
  .iskustvo,
  .skills,
  .kursevi,
  .jez,
  .obrazovanje,
  .ostale {
    transition: 0.5s all;
    -webkit-transition: all 0.7, border 0.01s;
  }
  div.iskustvo:hover,
  div.skills:hover,
  div.kursevi:hover,
  div.jez:hover,
  div.obrazovanje:hover,
  div.ostale:hover {
    transition: 0.2s;
    -webkit-transition: 0.3s;
    background: rgb(200, 180, 221);
    background-color: #fff;
  }
  .licni {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    height: 13.5vh;
    transform: translateY(0.1vh);
    margin-top: 2vh;
    margin-left: 2%;
    line-height: 2vw;
    padding: 4vw 0 4vw 15.7vw;
    background: var(--backgroundColor);
    border-top: 1.5rem solid var(--borderColor);
    border-left: 1.5rem solid var(--borderColor);
    border-top: var(--borderWidth) solid var(--borderColor);
    border-left: var(--borderWidth) solid var(--borderColor);
    border-radius: 7rem 0px 0px 0px;
    border-radius: 7vw 0px 0px 0px;
    border-right: none;
    z-index: 100;
  }
  .iskustvo {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    color: white;
    border-radius: 0px 0rem 0px 0px;
    border-top: 1.5rem solid var(--borderColor);
    border-right: 1.5rem solid var(--borderColor);
    border-radius: 0px 7vw 0px 0px;
    border-top: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    z-index: 10;
    padding: 3vh 0 3vh 16.5vw;
  }
  .iskustvo .mainSkills {
    margin-top: 1.7vw;
  }
  .iskustvo .basic {
    margin-top: 1.7vw;
  }
  .skills {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }
  .skills {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }
  .jez {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    color: white;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }
  .kursevi {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    color: white;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }
  .obrazovanje {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    color: white;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }
  .ostale {
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 13.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0 3vh 16.5vw;
    background: white;
    margin-bottom: 2%;
    border-radius: 0px 0px 0px 7rem;
    border-right: 1.5rem solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    border-radius: 0px 0px 0px 7vw;
  }
  .ostale .text {
    display: block;
  }
  .ostale .images {
    display: none;
  }
  audio {
    position: absolute;
    top: -50%;
  }
  .iskustvo p a,
  a {
    color: var(--linksColor);
    opacity: 1;
    -webkit-text-stroke: 0px black;
    text-decoration: none;
  }
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  .portfolio {
    background-color: var(--skillsBackground);
    border-radius: 0.5vw;
    padding: 0.5vw 1.3vw;
    color: var(--linksColor);
  }
}
