@media only print {
     :root {
        --backgroundColor: #d8f1ee;
        --borderColor: #367e7e;
        --borderWidth: 1vw;
        --mainFont: 1.3vw;
        --linksColor: rgb(43, 156, 147);
        --portfolioColor: rgb(122, 192, 186);
    }
    body,
    html {
        background: var(--backgroundColor);
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    * {
        box-sizing: border-box;
    }
    p,
    h1,
    h2,
    h3,
    h4 {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-block-start: 0;
        padding-block-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    p,
    input {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: var(--mainFont);
        line-height: 2vh;
        font-weight: 600;
        color: #bddfe6;
        color: rgba(0, 0, 0, 0.671);
    }
    .licni>p>input {
        background: transparent;
        border: none;
        font-weight: 600;
        display: inline-block;
        width: 17em;
        cursor: text;
    }
    .all-wrapper {
        padding: 0;
    }
    .all>div {
        padding-right: 3vw;
    }
    .print {
        display: none;
    }
    .me {
        position: absolute;
        display: flex;
        margin-right: auto;
        align-self: center;
        top: 15%;
        right: 15%;
        height: 70%;
        border-radius: 2vw;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
    .me:hover {
        position: absolute;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        border-radius: 0px;
    }
    .leftDiv {
        display: none;
    }
    .words {
        display: inline-block !important;
        flex: 1 1 90%;
    }
    .words span {
        background: #51788a;
        border-radius: 0.5vw;
        padding: 0.1vw 0.2vw;
        color: white;
    }
    .icons {
        display: none !important;
    }
    h2 {
        position: absolute;
        top: 0;
        left: 2.8vw;
        font-size: 90%;
        font-family: Trebuchet MS, sans-serif;
        font-weight: 900;
        color: #3a2449;
    }
    .licni h2 {
        margin-top: 2.5%;
    }
    .iskustvo h2 {
        margin-top: 5%;
    }
    .skills h2 {
        margin-top: 5%;
    }
    .obrazovanje h2 {
        margin-top: 5%;
    }
    .kursevi h2 {
        margin-top: 5%;
    }
    .jez h2 {
        margin-top: 5%;
    }
    .ostale h2 {
        margin-top: 5%;
    }
    .iskustvo,
    .skills,
    .kursevi,
    .jez,
    .obrazovanje,
    .ostale {
        transition: 0.5s all;
        -webkit-transition: all 0.7, border 0.01s;
    }
    div.iskustvo:hover,
    div.skills:hover,
    div.kursevi:hover,
    div.jez:hover,
    div.obrazovanje:hover,
    div.ostale:hover {
        transition: 0.2s;
        -webkit-transition: 0.3s;
        background: rgb(200, 180, 221);
        background-color: #fff;
    }
    .licni {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 98%;
        height: 13.5vh;
        transform: translateY(0.1vh);
        margin-top: 2vh;
        margin-left: 2%;
        line-height: 2vw;
        padding: 4vw 0 4vw 15.7vw;
        background: var(--backgroundColor);
        border-top: 1.5rem solid var(--borderColor);
        border-left: 1.5rem solid var(--borderColor);
        border-top: var(--borderWidth) solid var(--borderColor);
        border-left: var(--borderWidth) solid var(--borderColor);
        border-radius: 7rem 0px 0px 0px;
        border-radius: 7vw 0px 0px 0px;
        border-right: none;
    }
    .iskustvo {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        color: white;
        border-radius: 0px 7rem 0px 0px;
        border-top: 1.5rem solid var(--borderColor);
        border-right: 1.5rem solid var(--borderColor);
        border-radius: 0px 7vw 0px 0px;
        border-top: var(--borderWidth) solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
        z-index: 10;
    }
    .iskustvo .basic {
        margin-top: 0.7vw;
    }
    .skills {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        color: white;
        border-right: 1.5rem solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
    }
    .jez {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        color: white;
        border-right: 1.5rem solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
    }
    .kursevi {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        color: white;
        border-right: 1.5rem solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
    }
    .obrazovanje {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        color: white;
        border-right: 1.5rem solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
    }
    .ostale {
        position: relative;
        margin-left: 2%;
        width: 96%;
        height: 13.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3vh 0 3vh 16.5vw;
        background: white;
        margin-bottom: 2%;
        border-radius: 0px 0px 0px 7rem;
        border-right: 1.5rem solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
        border-radius: 0px 0px 0px 7vw;
    }
    .ostale .text {
        display: block;
    }
    .ostale .images {
        display: none;
    }
    audio {
        position: absolute;
        top: -50%;
    }
    .iskustvo p a,
    a {
        color: var(--linksColor);
        opacity: 1;
        -webkit-text-stroke: 0px black;
        text-decoration: none;
    }
    * {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    .portfolio {
        background-color: var(--portfolioColor);
        color: white;
        border-radius: 1.1vw;
        padding: 0.1vw 0.5vw;
    }
}