        body {
		background: #050007/*#000005*/ /*#0059DE*/;
	}  
 
        .img {
	        position:absolute;
		bottom:7.5%;
		right:15%;
		height:75%;
		width:12%;
		z-index:5;
		border-radius:30px;
		border:0.6rem solid black;
		transition:0.5s;
		-webkit-transition:0.5s;
	}
	
	.img:hover {
	        position:absolute;
		transition:0.5s;
		-webkit-transition:0.5s;
		border-radius:0px;
		transform:scale(1.02,1.02);
		-ms-transform:scale(1.02,1.02);
		-webkit-transform:scale(1.02,1.02);
	}
	
	h2 {
		position:relative;
	        font-size:140%;
		margin-left:3%;
		font-family: Trebuchet MS, sans-serif/*Arial Black, "Helvetica Neue", Helvetica, sans-serif*/;
		font-weight:900;
		top:0.5%;
		color: #3A2449/*#ffbb33*/ /*#ffcc66/* /*#ffdb4d*/;
	}
	
	p {
		font-family:Trebuchet MS, sans-serif;
		font-size: 1.035rem;
		font-weight:100;
		color:#8E66A8;
		opacity:0.6;
	}

	pre {
		font-family:Trebuchet MS, sans-serif;
		font-size: 1.035rem;
		font-weight:600;
		color:#8E66A8;
		opacity:0.6;
	}
	
	div {
		position:absolute;
		/*border-radius:0px 40px 40px 0px;*/
		transition:0.5s all;
		-webkit-transition:all 0.7, border 0.01s;
		/*border:10px solid black;*/
		filter: blur(0px);
		border-right:0.8rem solid #FFD644/*#FFF37A*/;
	}
	
	div:hover {
		transform:translateX(0.02%) translateY(0%) scale(1.00,1);
		-ms-transform:translateX(0.02%) translateY(0%) scale(1.00,1);
		-webkit-transform:translateX(0.003%) translateY(0%) scale(1.00,1);
		transition:0.2s;
		-webkit-transition: 0.3s;
		/*border:5px solid black;*/
		border:0px solid black\9;
		z-index:2;
		filter:brightness(108%);
	}
	
	.licni {
		position:absolute;
		width:92.5%;
		top:10%;
		left:7.5%;
		height:28.8%;
		background:#050007/*#FFE972*//*E0912A*/;
		border-top:0.8rem solid #FFD644;
		border-left:0.8rem solid #FFD644;
		border-radius:3.5rem 0px 0px 0px;
		border-right:none;
	}
	
	.iskustvo {
		position:absolute;
		top:40%;
		left:7.5%;
		width:85%;
		height:58.8%;
		background:/*#0a74f5*/#07070F;
		color:white;
		border-radius:0px 3.5rem 0px 0px;
		border-top:0.8rem solid #FFD644 /*#F4E8A1*/;
	}
		
	.iskustvo>p:nth-child(2) {
		position:absolute;
		top:1%;
		text-align:left;
		left:27%;
		line-height:1.97rem;
	}
	
	
	.obrazovanje {
		position:absolute;
		top:100%;
		left:7.5%;
		width:85%;
		height:20%;
		background:/*#0066E0;*/linear-gradient(aqua, skyblue);
		background:#080911;
		color:white;
	}
	
	.jez {
		position:absolute;
		top:120%;
		left:7.5%;
		width:85%;
		height:20%;
		background:#050007;
		background:/*#0066E0;*/linear-gradient(aqua, skyblue);
		background:#05060C;
		color:white;
	}
	
	.kursevi {
		position:absolute;
		top:140%;
		left:7.5%;
		width:85%;
		height:20%;
		background:#07070F;
		color:white;
	}
	
	.racunarske{
		position:absolute;
		top:160%;
		left:7.5%;
		width:85%;
		height:20%;
		background:#080911;
		color:white;
	}
	
	.ostale {
		position:absolute;
		top:179.9%;
		left:7.5%;
		width:85%;
		height:20%;
		background:#07070F;
		color:white;
		margin-bottom:10%;
		border-radius:0px 0px 0px 40px;
	}	
	
	.licni>h2:nth-child(1) {
		position:absolute;
		left:-1%;
	}
	
	.licni>p:nth-child(2) {
		position:absolute;
		top:4%;
		left:24%;
	}
	
	.licni>p:nth-child(3) {
		position:absolute;
		top:19%;
		left:24%;
	}
	
	.licni>p:nth-child(4) {
		position:absolute;
		top:34%;
		left:24%;
	}
	
	.licni>p:nth-child(5) {
		position:absolute;
		top:49%;
		left:24%;
	}
	
	.licni>p:nth-child(6) {
		position:absolute;
		top:64%;
		left:24%;
	}
	
	
	.iskustvo>p:nth-child(2) {
		position:absolute;
		top:2%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(3) {
		position:absolute;
		top:10%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(4) {
		position:absolute;
		top:18%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(5) {
		position:absolute;
		top:26%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(6) {
		position:absolute;
		top:34%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(7) {
		position:absolute;
		top:42%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(8) {
		position:absolute;
		top:50%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(9) {
		position:absolute;
		top:58%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(10) {
		position:absolute;
		top:66%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(11) {
		position:absolute;
		top:74%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(12) {
		position:absolute;
		top:82%;
		left:27%;
	}
	
	.iskustvo>p:nth-child(13) {
		position:absolute;
		top:90%;
		left:27%;
	}
	
	.obrazovanje>p:nth-child(2) {
		position:absolute;
		top:5%;
		left:27%;
	}
	
	.obrazovanje>p:nth-child(3) {
		position:absolute;
		top:30%;
		left:27%;
	}
	
	.obrazovanje>p:nth-child(4) {
		position:absolute;
		top:5%;
		left:94%;
	}
	
	.obrazovanje>p:nth-child(5) {
		position:absolute;
		top:30%;
		left:94%;
	}
	
	
	.jez>p:nth-child(2) {
		position:absolute;
		top:5%;
		left:27%;
	}
	
	.jez>p:nth-child(3) {
		position:absolute;
		top:30%;
		left:27%;
	}
	
	.jez>p:nth-child(4) {
		position:absolute;
		top:55%;
		left:27%;
	}
	
	.kursevi>p:nth-child(2) {
		position:absolute;
		top:5%;
		left:27%;
	}
	
	.kursevi>p:nth-child(3) {
		position:absolute;
		top:30%;
		left:27%;
	}
	
	.kursevi>p:nth-child(4) {
		position:absolute;
		top:55%;
		left:27%;
	}
	
	.racunarske>p:nth-child(2) {
		position:absolute;
		top:5%;
		left:27%;
	}
	
	.racunarske>p:nth-child(3) {
		position:absolute;
		top:30%;
		left:27%;
	}
	
	.racunarske>p:nth-child(4) {
		position:absolute;
		top:55%;
		left:27%;
	}
	
	.ostale>p:nth-child(2) {
		position:absolute;
		top:5%;
		left:27%;
	}
	
	.ostale>p:nth-child(3) {
		position:absolute;
		top:30%;
		left:27%;
	}
	
	.ostale>p:nth-child(4) {
		position:absolute;
		top:55%;
		left:27%;
	}
	
	audio {
		position:absolute;
		top:-50%;
	}
	
	.iskustvo>p>a {
		color:#FFD644/*#FFE868*//*#e69900*/;
		opacity:1;
		-webkit-text-stroke: 0px black;
		text-decoration: none;
	}
